@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background-size: 150% 150%;
  animation: gradient-move 8s linear infinite alternate;
}


.neon-text {
  text-shadow:
   
   
    
    0 0 40px #2799ce;
  animation: neon-pulse 2s ease-in-out infinite alternate;
}

@keyframes neon-pulse {
  0% {
    text-shadow:
   
      0 0 20px #2f82c1,
      
      
  }
  0% {
    text-shadow:
    
      0 0 30px #500eea,
      
     
  }
}


